# created by virtualenv automatically
.venv
.idea
test_data
src/repository/authorized_key.json
src/repository/static_key.*
src/load_resource/oauth_key.json
jwt_token.txt
model.pt
*.pt
audio
__pycache__